appnope
asgiref
asttokens
attrs
backcall
colorama
coverage
debugpy
decorator
Django
django-crontab
entrypoints
executing
iniconfig
ipykernel
ipython
itsdangerous
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
packaging
parso
pexpect
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
psutil
psycopg2
ptyprocess
pure-eval
Pygments
pyparsing
pytest
pytest-cov
python-dateutil
python-dotenv
pytils
pytz
pyzmq
redis
six
sqlparse
stack-data
tornado
traitlets
wcwidth