{% extends 'main/message_confirm_delete.html' %}

{% block content %}
    <form method="post" class="row" enctype="multipart/form-data">
        <div class="col-12 mt-5 mb-0 text-center">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-2"></div>
             <div class="col-8 mt-0" >
                    <div class="card-body text-center">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if object %}
                        <button type="submit" class="btn btn-primary text-white">
                            Сохранить
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-primary text-white">
                            Добавить
                        </button>
                        {% endif %}
                    </div>
             </div>
        </div>
    </form>
{% endblock %}