{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12 mt-5 mb-5 text-center">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-12 mt-1" >
            <div class="table-responsive">
                <table class="table align-middle text-center">
                    <thead>
                        <tr>
                            <th scope="col">id Пользователя</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Почта</th>
                            <th scope="col">Статус</th>
                            <th class="w-25" scope="col">Действия</th>
                        </tr>
                    </thead>
                    {% for object in object_list %}
                        <tbody>
                            <tr>
                              <td>{{ object.pk }}</td>
                              <td>{{ object.first_name }}</td>
                              <td>{{ object.last_name }}</td>
                              <td>{{ object.email }}</td>
                                {% if object.is_active == True %}
                                    <td>Активен</td>
                                {% else %}
                                    <td>Неактивен</td>
                                {% endif %}
                                <td>
                                    <a class="btn btn-primary" href="{% url 'users:manager_update' object.pk %}">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-pencil"
                                             viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}