{% extends 'base.html' %}

{% load template_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="col-12 mt-5 mb-5">
                    <h2>{{ title }}</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12 mb-5">
                <div class="col-12 mt-0 mb-1">
                    <h4>Статистика</h4>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Всего рассылок</h5>
                        <h2>
                            <p class="card-text">{{ mailing_count  }}</p>
                        </h2>
                    </div>
                </div>
                    <div class="col-xs-12 mb-5 mt-5">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Активных рассылок</h5>
                                <h2><p class="card-text">{{ enabled_mailing }}</p></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Уникальных клиентов</h5>
                                    <h2><p class="card-text">{{ unique_users }}</p></h2>
                                </div>
                        </div>
                    </div>
                </div>
            <div class="col-2"></div>
            <div class="col-xs-8">
                <div class="col-12 text-center">
                    <div class="col-12 mt-0 mb-1">
                        <h4>Случайные записи из блога</h4>
                    </div>
                    {% for post in three_random_posts %}
                        <div class="card mt-1" style="width: 30rem;">
                            <img src="{% mediapath post.thumbnail %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.content }}</p>
                                <a href="{% url 'blog:post_detail' post.pk %}" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}